* {
    background-color: #feffe3;
    font-family: Geneva, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

#header-border {
    width: 450px;
    border: 2px solid black;
    margin: 30px auto 0 auto;
    background-color: rgba(255, 255, 255, 60%);
}

h1 {
    text-align: center;
    font-size: 55px;
    background-color: rgba(255, 255, 255, 60%);
    padding: 20px;
    margin: auto;
}

#main-image {
    display: flex;
    width: 50%;
    min-width: 400px;
    box-shadow: 4px 4px gray;
    border-radius: 10px;
    margin: 10px auto 0 auto;
}

.caption {
    text-align: center;
    font-family: Monospace;
    margin: 0 auto;
}

#caption1 {
    font-size: 18px;
    margin-top: 10px;
}

#caption2 {
    font-size: 24px;
}

nav {
    width: 55%;
    margin: 20px auto 0 auto;
}

nav > ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: -30px;
}

.page {
    min-width: 100px;
    font-size: calc(4px + 2.5vw);
    
    list-style-type: none;
    border: 3px solid;
    border-radius: 4px;
    padding: 5px;
}

.page:hover {
    background-color: black;
    color: #feffe3;
    border: 3px solid white;
    border-radius: 4px;
}

.page-link {
    text-decoration: none;
    color: inherit;
    background-color: inherit;
}

#footing-header {
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
}

#email {
    margin: 0 auto;
    text-align: center;
}

#linkbar {
    display: flex;
    margin: 0 auto;
    width: 40%;
}

#links {
    display: flex;
    margin: 0 auto;
}

.img-link, img {
    width: 80px;
    margin: 10px;
}

#foot {
    height: 10vh;
}