* {
    background-color: var(--blue);
    color: var(--white);
}

:root {
    --buttonblue: #123445;
    --blue: #081726;
    --white: #F8F6F0;
}

.links {
    max-width: 100%;
    position: fixed;
    left: 8px;
    bottom: 8px;
}

.links img {
    display: block;
    margin: 5px;
    width: 5vw;
    max-width: 50px;
    min-width: 30px;
    padding: .3vw;
    padding-top: 0;
}

body {
    text-align: center;
}

#projects {
    margin-top: 8vh;
    display: block;
}

#info {
    margin: 10vh auto 0 auto;
    font-family: Helvetica, sans-serif;
}

#info p {
    width: 50%;
    margin: 0 auto;
    font-family: Garamond, 'Times New Roman', Times, serif;
}

.projectButton {
    display: block;
    width: 30%;
    min-width: 200px;
    height: 15vh;
    font-size: calc(1.2em + 6px);
    border: 1px solid white;
    background-color: var(--buttonblue);
    margin: 2vh auto 0 auto;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 1px solid var(--white);
}

a {
    text-decoration: none;
}

#index {
    font-family: Garamond, 'Times New Roman', Times, serif;
    position: fixed;
    display: block;
    top: 5%;
    left: 2.5%;
    text-align: center;
    width: 10%;
    min-width: 140px;
    font-size: calc(1.4em + 6px);
    background-color: var(--buttonblue);
    justify-content: center;
    text-decoration: none;
    text-align: center;
    border: none;
    border-radius: 15px;
    box-shadow: 0 10px rgba(180,180,180,0.7);
}

#index:hover {
    background-color: #1b4256;
}

#index:active {
    transform: translateY(4px);
    box-shadow: 0 6px rgba(180,180,180,0.7);
}

.projectButton:hover {
    background-color: #1b4256;
    cursor: pointer;
}

#comingSoon:hover {
    background-color: var(--buttonblue);
    cursor: auto
}

.projectButton:active {
    background-color: var(--buttonblue);
}

@media (max-width: 700px) {
    #index {
        position: relative;
        margin: 0 auto;
    }
}